<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-top: 0px;">
                    <div class="card-header row">
                        <div class="col-12 row">
                            <div class="col-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Item Code</mat-label>
                                    <select matNativeControl required>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Quentity</mat-label>
                                    <input matInput placeholder="Ex. Pizza" value="5">
                                </mat-form-field>
                            </div>
                            <div class="col-2" style="text-align: center; margin-top: 5px; float: right;">
                                <button mat-raised-button   style="width: 110px; background-color: rgb(26, 44, 94); height: 45px; float: right; color: white;">    + Add   </button>
                            </div>
                            <div class="col-2" style="text-align: center; margin-top: 5px; float: right;">
                                <button mat-raised-button  style="width: 110px; background-color: rgb(26, 44, 94); height: 45px; float: right; color: white;">   Save Cart   </button>
                            </div>
                            <div class="col-2" style="text-align: center; margin-top: 5px; float: right;">
                                <button mat-raised-button  style="width: 110px; background-color: rgb(26, 44, 94); height: 45px; float: right; color: white;"> Print   </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-bordered" style="height: 350px;">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Item_Name
                                    </th>
                                    <th>
                                       Item Price
                                    </th>
                                    <th>
                                       Item Discount
                                    <th>
                                        Discounted Price
                                    </th>
                                    <th>
                                        Quentity
                                    </th>
                                    <th>
                                        Total Price
                                    </th>
                                    <th></th>
                                </thead>
                                <!-- <tbody *ngFor="let cat of listProduction">
                                    <tr>
                                        <td>{{cat.username}}</td>
                                        <td>{{cat.email}}</td>
                                        <td>{{cat.phone}}</td>
                                        <td>{{cat.username}}</td>
                                        <td>{{cat.email}}</td>
                                        <td>{{cat.phone}}</td>
                                        <td>
                                            <button mat-raised-button (click)="openModel()"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-raised-button (click)="openModel()"
                                                class="btn btn-danger btn-sm"><span class="material-icons">
                                                    delete_forever
                                                </span></button>
                                        </td>
                                    </tr>
                                </tbody> -->
                                <tbody>
                                    <tr>
                                        <td>item_name</td>
                                        <td>2000.00</td>
                                        <td>100.00</td>
                                        <td>1900.00</td>
                                        <td>2</td>
                                        <td>3800.00</td>
                                      
                                        <td>
                                            <button mat-raised-button 
                                                class="btn btn-danger btn-sm"><span class="material-icons">
                                                    delete_forever
                                                </span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>item_name</td>
                                        <td>2000.00</td>
                                        <td>100.00</td>
                                        <td>1900.00</td>
                                        <td>2</td>
                                        <td>3800.00</td>
                                     
                                        <td>
                                            <button mat-raised-button 
                                                class="btn btn-danger btn-sm"><span class="material-icons">
                                                    delete_forever
                                                </span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>item_name</td>
                                        <td>2000.00</td>
                                        <td>100.00</td>
                                        <td>1900.00</td>
                                        <td>2</td>
                                        <td>3800.00</td>
                                        <td>
                                            <button mat-raised-button 
                                                class="btn btn-danger btn-sm"><span class="material-icons">
                                                    delete_forever
                                                </span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>item_name</td>
                                        <td>2000.00</td>
                                        <td>100.00</td>
                                        <td>1900.00</td>
                                        <td>2</td>
                                        <td>3800.00</td>
                                        <td>
                                            <button mat-raised-button 
                                                class="btn btn-danger btn-sm"><span class="material-icons">
                                                    delete_forever
                                                </span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>item_name</td>
                                        <td>2000.00</td>
                                        <td>100.00</td>
                                        <td>1900.00</td>
                                        <td>2</td>
                                        <td>3800.00</td>
                                        <td>
                                            <button mat-raised-button 
                                                class="btn btn-danger btn-sm"><span class="material-icons">
                                                    delete_forever
                                                </span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>item_name</td>
                                        <td>2000.00</td>
                                        <td>100.00</td>
                                        <td>1900.00</td>
                                        <td>2</td>
                                        <td>3800.00</td>
                                        <td>
                                            <button mat-raised-button 
                                                class="btn btn-danger btn-sm"><span class="material-icons">
                                                    delete_forever
                                                </span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>item_name</td>
                                        <td>2000.00</td>
                                        <td>100.00</td>
                                        <td>1900.00</td>
                                        <td>2</td>
                                        <td>3800.00</td>
                                        <td>
                                            <button mat-raised-button 
                                                class="btn btn-danger btn-sm"><span class="material-icons">
                                                    delete_forever
                                                </span></button>
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-md-12 row">
                                        <div class="col-4">
                                          
                                        </div>
                                        <div class="col-4">

                                        </div>
                                        <div class="col-4" style="text-align: center; margin-top: 10px; float: right;">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Total </mat-label>
                                                <input matInput placeholder="Ex. Pizza" value="25,000.00">
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Example label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Another label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>